html, body {
    margin: 0;
    height: 100%;
}


body {
    font-family: monospace;
    left: 50%;
    /* background: rgb(237, 113, 124);
    background: linear-gradient(90deg, rgba(237, 113, 124, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    background-image: url(./img/goodfaith.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
}

a, u {
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
}

.header a {
    font-size: 17px;
    color: black;
    position: absolute;
    right: 5%;
    top: 35%;
}

.header h1 {
    padding: 0px 50px;
}


.main {
    display: flex;
    justify-content: center;
}

.grid {
    border: gray solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 6px;
    background-color: white;
    margin: 10em;
    padding: 35px;
    width: 100%;
}   

.blog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: lightgray solid 1px;
    border-radius: 5px;
    padding: 0px 15px;
    margin: 5px;
    max-width: 200px;
    max-height: 300px;
    min-height: 300px;
}

.blog img {
    border-radius: 5px;
    border: lightgray solid 1px;
}

.blog p {
    padding: 10px;
    color: gray;
}

.blog h2, h3, h4, h5, h6 {
    padding: 10px;
    /* background-color: #2c2c2c;
    border-radius: 5px; */
    color: black;
}

.blog:hover {
    background-color: rgb(245, 245, 245);
}


.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: gray;
    margin: 0;
}

.footer p {
    padding: 15px 15px;
    margin: 0px;
}