body {
    background-image: url("img/souq.jpg");
    font-family: monospace;
    background-size: cover;
    overflow: hidden;
}

@keyframes discord {
    0% {right: 1500px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

@keyframes email {
    0% {right: 1500px; opacity: 0;}
    25% {right: 1500px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

@keyframes number {
    0% {right: 1500px; opacity: 0;}
    35% {right: 1500px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

.footer {
    background-color: rgb(255,255,255);
    color: #1a73e8;
    width: 100%;
    text-align: left;
    position: fixed;
    bottom: 0;
    display: inline-block;
}

h2 {
    margin: 25px;
    color: #022780;
}

.main {
    position: fixed;
    left: 0;
    width: 90%;
    
}



.discord {
    color: #7289DA;
    background-color: white;
    padding: 30px;                                                                                      
    width: 100%;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
}

.discord {
    animation-name: discord;
    animation-duration: 2s;
}



.email {
    color: red;
    background-color: white;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
    align-items: center;
    animation-name: email;
    animation-duration: 2.5s;
}




.number {
    color: #25D366;
    background-color: white;
    padding: 30px;
    width: 100%;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
    animation-name: number;
    animation-duration: 3s;
}