body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7674aee8-a93d-4e4a-8a60-456b3770bbba/da7tw4n-91fac627-e278-4b80-bd71-16f691f5c5c7.jpg/v1/fill/w_1280,h_854,q_75,strp/vibrant_sunset_clouds_by_boldfrontiers_da7tw4n-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04NTQiLCJwYXRoIjoiXC9mXC83Njc0YWVlOC1hOTNkLTRlNGEtOGE2MC00NTZiMzc3MGJiYmFcL2RhN3R3NG4tOTFmYWM2MjctZTI3OC00YjgwLWJkNzEtMTZmNjkxZjVjNWM3LmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.VaFzkYPZ9hMmaLG5NIzujhLmqpYe22QupBDL_n59Hqc);
    font-family: monospace;
    background-size: cover;
    overflow: hidden;
}

@keyframes discord {
    0% {right: 1500px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

@keyframes email {
    0% {right: 1500px; opacity: 0;}
    25% {right: 1500px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

@keyframes number {
    0% {right: 1500px; opacity: 0;}
    35% {right: 1500px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}

.header {
    background-color: rgb(255,255,255);
    color: #346d8b;
    width: 250px;
}

h2 {
    padding: 8px;
}

.main {
    position: absolute;
    left: 0;
    width: 90%;
    
}



.discord {
    color: white;
    background-color: #7289DA;
    padding: 30px;                                                                                      
    width: 100%;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
}

.discord {
    animation-name: discord;
    animation-duration: 1s;
}



.email {
    color: red;
    background-color: white;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
    animation-name: email;
    animation-duration: 1.5s;
}




.number {
    color: white;
    background-color: #25D366;
    padding: 30px;
    width: 100%;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
    animation-name: number;
    animation-duration: 2s;
}