@font-face {
    font-family: ProductSans;
    src: url(ProductSans-Regular.woff);
}

body {
    font-family: ProductSans;

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px 60px 25px;
    border-bottom: 3px solid black;
}

.main {
    color: white;
}

.button1 {
    background-color: red;
    border-radius: 10px;
    margin: 50px;
    padding: 60px;
    text-align: center;
}

.button2 {
    background-color: red;
    border-radius: 10px;
    margin: 50px;
    padding: 60px;
    text-align: center;
}

.button3 {
    background-color: red;
    border-radius: 10px;
    margin: 50px;
    padding: 60px;
    text-align: center;
}

.button4 {
    background-color: red;
    border-radius: 10px;
    margin: 50px;
    padding: 60px;
    text-align: center;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}