body {
    background-image: url(soug\ wagif.JPG);
    overflow: hidden;
    background-size: cover;
    
    
}

@keyframes ani {    
    0% {top: -100px; opacity: 0%;}
    100% {top: -0px; opacity: 100%;}

}

@keyframes foot {
    0% {top: 130%; opacity:0%;}
    25% {top: 130%; opacity:0%;}
    100% {top: 92.5vh; opacity:100%;}
}
.container {
    
    margin: 9%;
    padding: 100px;
    font-family: monospace;
    background-color: white;    
    color: #9B843E;
    animation-name: ani;
    animation-duration: 2s;
    position: relative;
    min-height: 10.5vh;
    border-radius: 10px;
}
a {
    color: #9B843E;
}

.footer {
    display: flex;
    align-items: center;
    position: fixed ;
    left: 0 ;
    bottom: 0;
    width: 99%;
    padding: 10px;
    background-color: white;
    font-family: monospace;
    animation-name: foot;
    animation-duration: 2s;
}

.about {
    padding: 5px 10px;
}

.contacts {
    padding: 5px 10px;
}

.blog {
    padding: 5px 10px;
}


