body {
    background-image: url("https://www.daysoftheyear.com/wp-content/uploads/look-up-at-the-sky-day-1.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    
    
}

@keyframes ani {    
    0% {top: -100px; opacity: 0%;}
    100% {top: -0px; opacity: 100%;}

}

@keyframes foot {
    0% {top: 130%; opacity:0%;}
    25% {top: 130%; opacity:0%;}
    100% {top: 94%; opacity:100%;}
}
.container {
    
    margin: 9%;
    padding: 100px;
    font-family: monospace;
    background-color: white;    
    color: #005ba5;
    animation-name: ani;
    animation-duration: 2s;
    position: relative;
    min-height: 10.5vh;
}
a {
    color: #005ba5;
}

.footer {
    position: fixed ;
    left: 0 ;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    font-family: monospace;
    animation-name: foot;
    animation-duration: 2s;
}

.about {
    padding: 5px;
}

.contacts {
    padding: 5px;
}


