@font-face {
    font-family: Annonce;
    src: url("./fonts/mad-title.woff");
}

@font-face {
    font-family: NewYork;
    src: url("./fonts/RobotoMono-Regular.woff");
}

@font-face {
    font-family: Imperial;
    src: url("./fonts/ImperialBlackRegular.woff");
}

@keyframes goodfaith {
    0% {color: rgb(218, 206, 134);}
    20%{color:rgb(108, 238, 200);}
    40%{color:rgb(102, 134, 245);}
    80%{color: rgb(254, 173, 231);}
    100%{color:rgb(218, 206, 134)}
}

@keyframes goodfaithborder {
    0% {border-color: rgb(218, 206, 134);}
    20%{border-color:rgb(108, 238, 200);}
    40%{border-color:rgb(102, 134, 245);}
    80%{border-color: rgb(254, 173, 231);}
    100%{border-color:rgb(218, 206, 134)}
}

@keyframes unblur {
    0%  {filter: blur(8px);}
    100%{filter: blur(0px);}
}

.jumbo {
    width: 100%;
    height: 95vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {  
    filter: blur(8px);
  -webkit-filter: blur(8px);
    margin: 0;
    padding: 0;
    background-image: url(./img/colourama.jpg);
    width: 100%;
    font-family: NewYork;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    animation-name: unblur;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
svg{width:100%;}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
}

a {
    color:white;
    animation-name: goodfaith;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    font-size: 14px;
}

.button {
    font-family: NewYork;
    padding: 7px 13px;
    border: 1px solid;
    animation-name: goodfaithborder;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

main {
    background-color: white;
    padding: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main h2, p{
    padding: 0;
    margin: 2px;
}

.biggerbox, .box1, .box2 {
    border: lightgray 1px solid;
    padding: 15px;
    border-radius: 10px;
    margin: 2px 5px;
}

.box2 {
    display: flex;
    flex-direction: row;
}
