body {
    background-image: url("https://www.daysoftheyear.com/wp-content/uploads/look-up-at-the-sky-day-1.jpg");
}

@keyframes example {    
    0% {top: -50px; opacity: 0%;}
    100% {top: 0px; opacity: 100%;}
}
.container {
    
    margin: 13%;
    padding: 100px;
    border: antiquewhite 10px;
    font-family: monospace;
    background-color: white;    
    color: black;
    animation-name: example;
    position: relative;
    animation-duration: 2s;

}


